.form__box {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
}

.form__label {
  padding: 10px 20px;
}

.form__input {
  margin-bottom: 20px;
  padding: 5px;
  font-size: 1.2rem;
  border: 1px solid #dad9d9;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.form__input:focus {
  background-color: #f6f0f4;
}

.btn {
  position: relative;
  overflow: hidden;
  padding: 10px 20px;
  margin: 40px 10px 10px 10px;
  font-weight: bold;
  background-image: linear-gradient(90deg, #723a65, #f446a6e4);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.btn::before,
.btn::after {
  display: block;
  position: absolute;
  content: '';
  transition: .5s;
  z-index: 10;
}

.btn::before {
  top: -30px;
  left: -130px;
  height: 200%;
  width: 100px;
  background-image: linear-gradient(-90deg, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
  transform: rotate(20deg);
}

.btn:hover::before {
  left: 130%;
}

@media (min-width: 768px) {
  .form__input {
    margin: auto;
    width: 60%;

  }
}