.form__box {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
}

.form__label {
  padding: 10px 20px;
}

.form__input {
  margin-bottom: 20px;
  padding: 5px;
  font-size: 1.2rem;
  border: 1px solid #dad9d9;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.form__input:focus {
  background-color: #f6f0f4;
}