.app {
  height: 100vh;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.error-modal {
  min-width: 250px;
  width: 70%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .app {
    width: 75%;
  }
}

@media (min-width: 992px) {
  .app {
    width: 60%;
  }
}